<app-navegacao></app-navegacao>



<div class="container">
      <h1>Formulario para Edição de Livro</h1>

      <label for="fname">Edição:</label>
      <input type="text" id="fname" name="Edição" placeholder="Entre com a Edição">
  
      <label for="lname">Ano:</label>
      <input type="text" id="lname" name="Ano" placeholder="Entre com o ano">
  
      <label for="lname">Isbn:</label>
      <input type="text" id="lname" name="Isbn" placeholder="Entre com o Isbn">
  
      <label for="lname">Área de Conhecimento:</label>
      <input type="text" id="lname" name="Área de Conhecimento" placeholder="Entre com a Área de conhecimento">
  
      <label for="lname">Editora:</label>
      <input type="text" id="lname" name="Editora" placeholder="Entre com a Editora">
  
      <label for="lname">Autores:</label>
      <input type="text" id="lname" name="Autores" placeholder="Entre com os Autores">
  
      
        <button routerLink="/livro" class="btn btn-danger " value="Cadastrar">Cancelar</button>
         

      
  
    
  </div>