<app-navegacao></app-navegacao>
    
<table class="table table-striped">
    <thead>
      <th scope="row">Data de Inicio:</th>
      <th scope="row">Data de Fim:</th>
      <th scope="row">Periodo:</th>
      <th scope="row">Curso:</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let turma of turmas">
        <td scope="row">{{turma.dtInicio | date:'dd/MM/yyyy'}}</td>
        <td scope="row">{{turma.dtFim | date:'dd/MM/yyyy'}}</td>     
        <td scope="col">{{turma.periodo}}</td>
        <td scope="row">{{turma.curso.nome}}</td>

        <td><a routerLink="/turma/{{turma.id}}" class="btn btn-info ">Ver Detalhes</a></td>
        

      </tr>
      
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
