<app-navegacao></app-navegacao>

<table class="table table-striped">
    <thead>
      <th scope="row">Nº de Patrimonio:</th>
      <th scope="row">Livro:</th>
      <th scope="row">Editora:</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let patrimonio of patrimonios">
        <th scope="row">{{patrimonio.numero}}</th>
        <td scope="row">{{patrimonio.livro.nome}}</td>     
        <td scope="col">{{patrimonio.livro.editora.nome}}</td>
        

        <td><a routerLink="/patrimonio/{{patrimonio.id}}" class="btn btn-info ">Ver Detalhes</a></td>
        

      </tr>
      
    </tbody>
  </table>

 
  <div class="container-fluid paginacao">
    <table class="table table-sm">
      <tbody>
        <tr>

          
          
          <td><button [disabled]="page==0" routerLink="/patrimonio/page/{{page-1}}" class="btn btn-outline-primary">Anterior</button></td>
          <td><button class="btn btn-outline-primary">{{page+1}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">{{page+2}}</button></td>
          <td><button [disabled]="page +2 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+2}}">{{page+3}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">Próxima</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  


