<app-navegacao></app-navegacao>

<table class="table table-hover">
  
<h1>Cadastro de Turma</h1>
</table>  

<table class="table table-striped">
    <div class="container" [formGroup]="profileForm">
      
        <tr>
          <td scope="col">Curso: </td>
          <td scope="col">{{curso.nome}}</td>
        </tr>
        <tr>
          <td scope="col">Tipo: </td>
          <td scope="col">{{curso.tipo}}</td>
        </tr>
    
    <hr>
     
    <label for="fname">Data de Inicio:</label>
    <input id="campoData" type="date" id="fname" name="dtInicio" 
    placeholder="dd/mm/aaaa" data-mask="00/00/0000" maxlength="10" autocomplete="off"
    class="form-control data-mask" formControlName="dtInicio" required >

    <label for="fname">Data de Fim:</label>    
    <input id="campoData" type="date" id="fname" name="dtFim" placeholder="dd/mm/aaaa" 
    data-mask="00/00/0000" maxlength="10" autocomplete="off"
    class="form-control data-mask" formControlName="dtFim" required >

    <label for="fname">Periodo:</label>    
    <select placeholder="Periodo" id="campoData" type="text" id="fname" name="periodo" 
    class="form-control" formControlName="periodo">  
   
        <option></option>
        <option *ngFor="let periodo of periodos">{{periodo}}</option>
        
    </select>
    

    <button [disabled]="!profileForm.valid" (click)="onSubmit()" href="#" class="btn btn-success mb-4" value="Cadastrar">Salvar</button>
    <button routerLink="/curso" class="btn btn-danger mx-sm-3 mb-4" value="Cadastrar">Voltar</button>
    
</div>
</table>
<script>
    jQuery(function($){
    $("#campoData").mask("99/99/9999");
    $("#campoTelefone").mask("(999) 999-9999");
    $("#campoSenha").mask("***-****");
    });
    </script>