<app-navegacao></app-navegacao>
    <h5 class="botaoAreaDeConhecimento">Cadastrar Área De Conhecimento</h5>
    <ng-template [ngIf]="alert"><div  class="alert alert-danger" role="alert">
        Erro ao cadastrar Area de Conhecimento!
      </div></ng-template>
    <div class="botaoAreaDeConhecimento form-inline" >

        <div [formGroup]="profileForm" class="form-group  mx-sm-3 mb-2">        
        <label class="sr-only">Área de Conhecimento</label>
        <input  type="text" class="form-control" 
            formControlName="nome" placeholder="Mínimo 2 Caracteres">  
               
        </div>
        <button [disabled]="!profileForm.valid" (click)="onSubmit()" class="btn btn-primary mb-2">Salvar</button>
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Nome:</th> 
            <th></th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let areaDeConhecimento of areasDeConhecimento">
            <th scope="row">{{areaDeConhecimento.nome}}</th> 
            <td><a routerLink="/livro/{{areaDeConhecimento.id}}/area-de-conhecimento" class="btn btn-info " 
                data-ng-repeat="user in User.users | orderBy:'name'false | filter:search">Listar Livros</a></td>     
            
                <td><a routerLink="/areaDeConhecimento/{{areaDeConhecimento.id}}" class="btn btn-warning ">Editar</a></td>      
          </tr>
    </tbody>
</table>