<app-navegacao></app-navegacao>
    
<table class="table table-striped">
    <thead>
      <th scope="row">Nome:</th>
      <th scope="row">Tipo:</th>
      <th class="align-center" scope="row">Opções:</th>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">     
        <td scope="col">{{curso.nome}}</td>
        <td scope="row">{{curso.tipo}}</td>
        <td class="align-center"><a routerLink="/curso/{{curso.id}}" class="btn btn-info mx-sm-2  ">Detalhes</a>
        <a routerLink="/curso/{{curso.id}}" class="btn btn-primary mx-sm-2 ">Turmas</a>
        <a routerLink="/turma/{{curso.id}}/save" class="btn btn-primary mx-sm-2 ">Cadastrar Turma</a></td>
        

      </tr>
      
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
