<app-navegacao></app-navegacao>



<table class="table table-striped">
    <div class="container" [formGroup]="profileForm">
    <h1>Cadastro de Usuário</h1>
    <hr>
 
    <label for="fname">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Entre com o nome:" required>

    <label for="fname">Email:</label>
    <input type="text" id="email" name="email" placeholder="Entre com o Email:" required>

    <label for="fname">Data de Nascimento:</label>
    <input id="dataNasc" type="date" id="fname" name="dtInicio" 
    placeholder="dd/mm/aaaa" data-mask="00/00/0000" maxlength="8" autocomplete="off"
    class="form-control data-mask" formControlName="dataNasc" required >

    <label for="lname">CPF:</label>
    <input type="text" id="cpf" name="cpf" placeholder="Entre com o CPF" required>

    <label for="fname">Tipo de Cadastro:</label>    
    <select  id="tipoCadastro" type="text" id="fname" name="tipoCadastro" 
    class="form-control" formControlName="tipoCadastro" required>  
   
        <option></option>
        <option *ngFor="let enum of enumRoles">{{enum}}</option>
        
    </select>

    <div *ngIf="profileForm.value.tipoCadastro=='ALUNO'">
        <label for="fname">Código da Turma:</label>
        <input type="text" id="turma" name="turma" placeholder="Insira o código da Turma:" required>

        <label for="fname">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" placeholder="Insira a Matrícula:" required>
        
    </div>

    <div *ngIf="profileForm.value.tipoCadastro=='FUNCIONARIO'">
        <label for="fname">Cargo:</label>
        <input type="text" id="cargo" name="cargo" placeholder="Insira o Cargo:" required>
    </div>

    <button routerLink="/livro" class="btn btn-danger" value="Cadastrar">Cancelar</button>
    <button [disabled]="!profileForm.valid" (click)="onSubmit()" class="btn btn-primary " value="Cadastrar">Salvar</button>
    
</div>
</table>