<app-navegacao></app-navegacao>



<table class="table table-striped">
    <div class="container" [formGroup]="profileForm">
    <h1>Cadastro de Editora</h1>
    <hr>
    <div *ngIf="alert" class="alert alert-danger" role="alert">
      <div *ngFor=" let message of messages">
          <p> {{message}}</p>
      </div>
     
  </div>
 
    <label for="fname">Nome:</label>
    <input type="text" id="fname" name="Nome" 
    class="form-control" formControlName="nome" placeholder="Preencha seu Nome">

    <label for="lname">CNPJ:</label>
    <input  type="text" id="lname" mask="00.000.000/0000-00" name="CNPJ"
    class="form-control" formControlName="cnpj" placeholder="Preencha seu CNPJ">

    <button [disabled]="!profileForm.valid" (click)="onSubmit()" href="#" class="btn btn-success mb-4" value="Cadastrar">Salvar</button>
    <button routerLink="/editora" class="btn btn-danger mx-sm-3 mb-4" value="Cadastrar">Voltar</button>
    
</div>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th></th>
            <th>
                <h1>Lista de Editoras</h1>
            </th>
            <th></th>
            <th></th>
        </tr>
        
        <tr>
            
            <th scope="row">Nome:</th> 
            <th scope="row">Cnpj:</th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let editora of editoras">
            <th scope="row">{{editora.nome}}</th>    
            <td scope="row">{{editora.cnpj}}</td>    
            <td><a class="btn btn-info ">Listar Livros</a></td>      
            <td><a routerLink="/editora/{{editora.id}}" class="btn btn-warning ">Editar</a></td>
    
          </tr>
    </tbody>
</table>
<div class="container-fluid paginacao">
    <table class="table table-sm">
      <tbody>
        <tr>

          
          
          <td><button [disabled]="page==0" routerLink="/patrimonio/page/{{page-1}}" class="btn btn-outline-primary">Anterior</button></td>
          <td><button class="btn btn-outline-primary">{{page+1}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">{{page+2}}</button></td>
          <td><button [disabled]="page +2 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+2}}">{{page+3}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">Próxima</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>