<app-navegacao></app-navegacao>
<h1>{{usuario.nome}}</h1>

<table class="table table-striped">
    
    <thead>
      <th scope="row">Nome:</th>
      <th scope="row">Email:</th>
      <th scope="row"> Data de Nascimento</th>
      <th scope="row">CPF:</th>
      <th scope="row">Status</th>
      <th scope="row">Cargo</th>

      
      <th></th>
    </thead>
    <tbody>
        
        <td scope="row">{{usuario.nome}}</td> 
        <td scope="row">{{usuario.email}}</td> 
        <td scope="row">{{usuario.dataNasc | date:'dd/MM/yyyy'}}</td>     
        <td scope="col">{{usuario.cpf}}</td>
        <td scope="col">{{usuario.status}}</td>
        <td scope="col">{{usuario.cargo}}</td>
        
            <td *ngFor="let usuario of usuarios">{{usuario.matriculas}}</td>
            <tr>
                <th scope="row">Autores:</th> 
                <td>
                    <ul>
                        <li *ngFor="let usuario of usuarios">{{matriculas}}</li>
                    </ul>
                </td>
            </tr>
        <td *ngIf="profileForm.value.tipoCadastro=='FUNCIONARIO'">{{usuario.status}}</td>

    </tbody>
  </table>

  <div class="container-fluid paginacao">
    <table class="table table-sm">
      <tbody>
        <tr>
          <td><button [disabled]="page==0" routerLink="/usuario/page/{{page-1}}" class="btn btn-outline-primary">Anterior</button></td>
          <td><button class="btn btn-outline-primary">{{page+1}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/usuario/page/{{page+1}}">{{page+2}}</button></td>
          <td><button [disabled]="page +2 >= totalPages" class="btn btn-outline-primary" routerLink="/usuario/page/{{page+2}}">{{page+3}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/usuario/page/{{page+1}}">Próxima</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>
