<div class="wrapper fadeInDown">
  <div [formGroup]="profileForm" id="formContent">
    <div class="fadeIn first">
      <img src="assets/img/d.png" id="icon" alt="User Icon" />
    </div>

      <input type="text" id="login" class="fadeIn second" formControlName="email" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" formControlName="senha" placeholder="Senha">
      
      <button (click)="onSubmit()" type="button" class=" fadeIn fourth">Salvar</button>
    

    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a Senha?</a>
    </div>
  </div>
</div>