<app-navegacao></app-navegacao>

<table class="table table-striped m">
  <div><h1>Cadastrar Nova Editora: </h1><button class="btn btn-primary mb-2 n" routerLink="/editora/save" type="button">Cadastrar Editora</button></div>
  
</table>

    

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Nome:</th> 
            <th scope="row">Cnpj:</th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let editora of editoras">
            <th scope="row">{{editora.nome}}</th>    
            <td scope="row">{{editora.cnpj}}</td>    
            <td><a routerLink="/livro/{{editora.id}}/editora" class="btn btn-info " 
              data-ng-repeat="user in User.users | orderBy:'name'false | filter:search">Listar Livros</a></td>       
            <td><a routerLink="/editora/edit/{{editora.id}}" class="btn btn-warning ">Editar</a></td>
    
          </tr>
    </tbody>
</table>
<div class="container-fluid paginacao">
    <table class="table table-sm">
      <tbody>
        <tr>

          
          
          <td><button [disabled]="page==0" routerLink="/patrimonio/page/{{page-1}}" class="btn btn-outline-primary">Anterior</button></td>
          <td><button class="btn btn-outline-primary">{{page+1}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">{{page+2}}</button></td>
          <td><button [disabled]="page +2 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+2}}">{{page+3}}</button></td>
          <td><button [disabled]="page +1 >= totalPages" class="btn btn-outline-primary" routerLink="/patrimonio/page/{{page+1}}">Próxima</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>