<app-navegacao></app-navegacao>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Nome:</th> 
            <th scope="row">Cnpj:</th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let editora of editoras">
            <th scope="row">{{editora.nome}}</th>    
            <td scope="row">{{editora.cnpj}}</td>    
            <td><a class="btn btn-info ">Listar Livros</a></td>      
            <td><a routerLink="/editora/{{editora.id}}" class="btn btn-warning ">Editar</a></td>
    
          </tr>
    </tbody>
</table>