<app-navegacao></app-navegacao>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>SGB-Itego</b></h1>
  <p>Sistema de Gerenciamento de Biblioteca <span class="w3-tag"></span></p>
  <p>Instituto Tecnológico do Estado de Goiás Governador Onofre Quinan <span class="w3-tag"></span></p>
</header>

<div class="w3-row">

<div class="w3-col l8 s12">
  <div class="w3-card-4 w3-margin w3-white">
    <img src="assets/img/2bbb.png"  style="width:100%">
    <div class="w3-container">
      <h3><b>SGB</b></h3>     
    </div>

    <div class="w3-container">
      <p>
        O SGB-ITEGO tem por finalidade a gestão de entrada e saída dos livros do acervo do ITEGO 
        gerando relatórios gerenciais para os coordenadores e/ou funcionários da biblioteca, 
        e também o auxílio na gestão dos TCCs.
    </p>
   
    </div>
  </div>
  <hr>

  <!-- Blog entry --> 
  <div class="w3-card-4 w3-margin w3-white">
  <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>BLOG ENTRY</b></h3>
      <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-col l4">
  <div class="w3-card w3-margin w3-margin-top">
  <img src="assets/img/logo_goq-1.png" style="width:100%">
    <div class="w3-container w3-white">
      <p>
        O Instituto Tecnológico do Estado de Goiás Governador Onofre Quinan, antigo Centro de Educação Profissional de Anápolis – CEPA, passou a compor a Rede Itego em 2015, por meio da Lei n.º18.931/2015. O objetivo da instituição é atuar com inovação focando em cursos técnicos e tecnológicos.
        O Itego possui em sua estrutura física salas de aula, biblioteca, auditório, espaços administrativos e laboratórios modernos de Informática, Química e Línguas, preparados para receber alunos e ministrar variados cursos em suas dependências.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Links Institucionais</h4>
    </div> 
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <a href="http://localhost:4200/"><img src="assets/img/icon.png"  style="width:50px" class="w3-left w3-margin-right">
        <img class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">ITEGO</span><br>
        <span>SOBRE O ITEGO</span></a>
      </li>
    
      <li class="w3-padding-16">
        <a href="http://www.ead.go.gov.br/moodle_01/mod/page/view.php?id=1570"><img src="assets/img/icon3.png"  style="width:50px" class="w3-left w3-margin-right">
        <img class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Biblioteca Virtual</span><br>
        </a>
      </li>
      <li class="w3-padding-16">
        <a href="http://www.ead.go.gov.br/moodle_01/"><img src="assets/img/icon1.png"  style="width:50px" class="w3-left w3-margin-right">
        <img class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Plataforma EAD  da Rede Itego</span><br>
        </a>
      </li>
    </ul>
  </div>
  <hr> 
 
</div>


</div><br>

</div>

