<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C0C0C0;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!----------Imagem da Home ---------------------------------------------->
    <a href="http://localhost:4200/"><img src="assets/img/d.png" id="img-home"></a>

    <!----------Livro ---------------------------------------------->
<div class="collapse navbar-collapse " id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">     
    <div class="w3-dropdown-hover style= background-color: #00FFFF">        
      <li class="nav-item w3-dropdown-hover">
        <a class="nav-link dropdown-toggle " href="#" style= background-color:#C0C0C0     
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Livro
        </a>
        <div class="dropdown-menu" class="w3-dropdown-content w3-border"   aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/livro/livro-cadastrar">Cadastrar</a>
          <a class="dropdown-item" routerLink="/livro" >Pesquisar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/editora">Editora</a>
          <a class="dropdown-item" routerLink="/area-de-conhecimento">Área de Conhecimento</a>
        </div>
      </li>
    </div>
    <!---------- Patrimonio ---------------------------------------------->
    <div class="w3-dropdown-hover style= background-color: 		rgb(211, 205, 211);">        
      <li class="nav-item w3-dropdown-hover">
      <a class="nav-link dropdown-toggle" style= background-color:#C0C0C0 href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Patrimônio
      </a>
      <div class="dropdown-menu" class="w3-dropdown-content w3-border"   aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cadastrar</a>
        <a class="dropdown-item" routerLink="/patrimonio">Pesquisar</a>
      </div>
    </li>
  </div>
<!-----------------------------Emprestimo ---------------------------------------------->
    <div class="w3-dropdown-hover style= background-color: 		rgb(211, 205, 211);">        
      <li class="nav-item w3-dropdown-hover">
      <a class="nav-link dropdown-toggle" style= background-color:#C0C0C0 href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Empréstimo
      </a>
      <div class="dropdown-menu" class="w3-dropdown-content w3-border"   aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cadastrar</a>
        <a class="dropdown-item" href="#">Pesquisar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Configurações</a>
      </div>
    </li>
  </div>
<!----------------------------- Funcionario ---------------------------------------------->
    <div class="w3-dropdown-hover style= background-color: 		rgb(211, 205, 211);">        
      <li class="nav-item w3-dropdown-hover">
      <a class="nav-link dropdown-toggle" style= background-color:#C0C0C0 href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Usuário
      </a>
      <div class="dropdown-menu" class="w3-dropdown-content w3-border"   aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cadastrar Aluno</a>
        <a class="dropdown-item" href="#">Cadastrar Funcionário</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/usuario">Pesquisar</a>
      </div>
    </li>
  </div>
<!----------------------------- Turma ---------------------------------------------->
    <div class="w3-dropdown-hover style= background-color: 		rgb(211, 205, 211);">        
      <li class="nav-item w3-dropdown-hover">
      <a class="nav-link dropdown-toggle" style= background-color:#C0C0C0 href="#"
       id="navbarDropdown" role="button" data-toggle="dropdown" 
       aria-haspopup="true" aria-expanded="false">
        Turma
      </a>
      <div class="dropdown-menu" class="w3-dropdown-content w3-border"   aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cadastrar</a>
        <a class="dropdown-item" routerLink="/turma">Pesquisar</a>
      </div>
    </li>
  </div>
<!----------------------------- Curso ---------------------------------------------->

    <div class="w3-dropdown-hover  style= background-color: 		rgb(211, 205, 211);">        
      <li class="nav-item w3-dropdown-hover">
        <a class="nav-link dropdown-toggle " style= background-color:#C0C0C0
         href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
         aria-haspopup="true" aria-expanded="false">
          Curso
        </a>
        <div class="dropdown-menu" class="w3-dropdown-content w3-border"  
         aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cadastrar</a>
          <a class="dropdown-item" routerLink="/curso">Pesquisar</a>
        </div>
      </li>
  </div>

  
  <div class="w3-dropdown-hover  style= background-color: 		rgb(211, 205, 211);">        
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout" >Sair</a>
    </li>
</div>
  
  
  </ul>
  
</div>
</nav>