<app-navegacao></app-navegacao>



<table class="table table-striped">
  <h1>Cadastro de Patrimonio</h1>
    <div class="container" [formGroup]="profileForm">
       
          <tr>
            <th scope="row">ISBN: </th>
            <td >{{livro.isbn}}</td>
          </tr>
          <tr>
            <th scope="row">Nome: </th>
            <td>{{livro.nome}}</td>
          </tr>
          <tr>
            <th scope="row">Editora: </th>
            <td>{{livro.editora.nome}}</td>
            <td></td>
          </tr>
        
     
        <div class="container">
            <div *ngIf="alert" class="alert alert-success" role="alert">
              Patrimonio Salvo com Sucesso!
            </div>
            <div *ngIf="alert!=null && !alert" class="alert alert-danger" role="alert">
              Erro ao Cadastrar Patrimonio!
            </div>
        </div>
    <label for="fname">Patrimonio:</label>
    <input id="campoData" type="text" id="fname" name="numero" 
    class="form-control" formControlName="numero" required >
   
    <button [disabled]="!profileForm.valid" (click)="onSubmit()" href="#" class="btn btn-success mb-4" value="Cadastrar">Salvar</button>
    <button routerLink="/livro" class="btn btn-danger mx-sm-3 mb-4" value="Cadastrar">Voltar</button>
    
</div>