<app-navegacao></app-navegacao>

<table class="table table-hover">
  
<h1>Cadastro de Patrimonio</h1>
</table>  

<table class="table table-striped">
    <div class="container" [formGroup]="profileForm">
      
        <tr>
            <td scope="col">ISBN: </td>
            <td scope="col">{{livro.isbn}}</td>
          </tr>
          <tr>
            <td scope="col">Nome: </td>
            <td scope="col">{{livro.nome}}</td>
          </tr>
          <tr>
            <td scope="col">Editora: </td>
            <td scope="col">{{livro.editora.nome}}</td>
          </tr>
        
        
    
    <hr>
     <div class="container">
        <div *ngIf="alert" class="alert alert-success" role="alert">
          Patrimonio Salvo com Sucesso!
        </div>
        <div *ngIf="alert!=null && !alert" class="alert alert-danger" role="alert">
          Erro ao Cadastrar Patrimonio!
        </div>
     </div>
    <label for="fname">Patrimonio:</label>
    <input id="campoData" type="text" id="fname" name="numero" 
    class="form-control" formControlName="numero" required >
   
    <button [disabled]="!profileForm.valid" (click)="onSubmit()" href="#" class="btn btn-success mb-4" value="Cadastrar">Salvar</button>
    <button routerLink="/livro/[id]" class="btn btn-danger mx-sm-3 mb-4" value="Cadastrar">Voltar</button>
    
</div>